# Ignore Java class files
*.class

# Ignore compiled output folders
/bin/
target/
build/

# Ignore IDE specific files and folders
.vscode/

# Ignore log files
*.log

# Ignore specific files and folders
/resources
Master - Praktikum PBO 24 25.txt
2025-Praktikum-1-ObjectOrientation.pdf
Praktikum 2 - Enkapsulasi dan Relasi antar Objek.pdf
PBO06.1 (Tambahan Pribadi) Latihan UTS Genap 2023
